body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  gap: 20px;
  justify-content: center; /* Centers horizontally */
  flex-direction: column;
  align-items: center; /* Centers vertically */
  height: 100vh;
  font-family: "outfit", sans-serif;

  font-style: normal;
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.0477);
}
.attribution {
  font-size: 11px;
  /* text-align: center; */
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.description {
  width: 250px;
  text-align: center;
  padding: 10px;
}
h2 {
  font-size: 22px;
  color: hsl(228, 44%, 22%);
  font-weight: 700;
  font-weight: bold;
  line-height: 120%;
}
p {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: hsl(216, 15%, 48%);
}
