/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body center */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

/* Card container */
.container {
  background: white;
  padding: 16px;
  border-radius: 20px;
  width: 90%;
  max-width: 320px;
  max-height: 499px;
  text-align: center;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.0477);
}

/* Image responsive */
.qr-image {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

/* Text */
.description h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 16px 0 12px;
  color: hsl(218, 44%, 22%);
  line-height: 120%;
}

.description p {
  font-size: 15px;
  color: hsl(216, 15%, 48%);
  line-height: 140%;
  letter-spacing: 0.2px;
}

/* Attribution */
.attribution {
  margin-top: 20px;
  font-size: 0.75rem;
  text-align: center;
}
